Source: soprano
Section: libs
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <debian@pusling.com>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Armin Berres <trigger+debian@space-based.de>
Build-Depends: cdbs, debhelper (>= 5), cmake, librdf0-dev, libqt4-dev (>> 4.3.0), libclucene-dev, quilt
Standards-Version: 3.7.2

Package: libsoprano4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libsoprano3
Replaces: libsoprano3
Description: Qt4 interface to RDF storage
 Soprano (formally known as QRDF) is a library which provides a nice Qt4 
 interface to RDF storage solutions. It has a modular structure which 
 allows to replace the actual RDF storage implementation used.
 .
 Currently Soprano implements one fully functional backend which is based
 on librdf, the Redland RDF Application Framework.
 .
 This package contains the runtime library files needed to run software
 using libsoprano.

Package: libsoprano-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libsoprano4 (>= ${source:Version}),
 libsoprano4 (<< ${source:Version}.1~)
Description: Development files for soprano, a Qt4 interface for RDF storage
 Soprano (formally known as QRDF) is a library which provides a nice Qt4
 interface to RDF storage solutions. It has a modular structure which allows 
 to replace the actual RDF storage implementation used.
 .
 Currently Soprano implements one fully functional backend which is based
 on librdf, the Redland RDF Application Framework.
 .
 This package contains the header and development files needed to build
 programs and packages using libsoprano.
